.login-section{
    width: 60%;
    margin:0px auto !important;
    box-shadow: 0 2px 5px 0px #aaa;
}

.form-content .form-group {
  position: relative;
  margin-bottom: 1.5rem;
}
.form-content .form-control-placeholder {
  position: absolute;
  top: 0;
    right: 40px;
  padding: 5px 0px 0 0px;
  transition: all 200ms;
  opacity: 0;
    visibility: hidden;
}

.form-content .form-control:focus +.form-control-placeholder,
.form-content .form-control:valid +.form-control-placeholder {
  font-size: 75%;
  transform: translate3d(0, -90%, 0);
  opacity: 0.7;
  visibility: visible;
}
.form-content .form-control:focus{
    border-bottom-color: #4CB04E;
}
.form-content input{
    border-bottom: 2px solid #B4B4B4 ;
    border-right:none !important;
    border-top:none !important;
    border-left:none !important;
    box-shadow: none !important;
    border-radius: 0px !important;
}
.form-content small{display: none}
.form-content input,
.form-content small{
        width: 90%;
    margin-right: 40px;
    padding-right: 0px;
}
.form-content .form-group.input i{
    position: absolute;
    right: 0;
    bottom: 0;
    color: #aaa;
}
.form-content .form-group.button{
    width: 60%;
    margin: auto;
}
.form-content .form-group.button button{
   box-shadow: 0 2px 5px 0px #aaa;
}

.form-content input::placeholder{
    font-size: 12px;
}

.form-content{
    background: #fff;
    padding: 30px 10px;
}

.info-content{
    background: #398E3D;
    padding: 30px 10px;
    text-align: center;
    color: #eee;
}
